@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../../fonts/Proxima\ Nova\ Bold.otf') format('opentype');
}

@mixin boldFont {
    font-family: $proxima;
    font-size: 18px;
    font-weight: $bold;
}

@mixin bgText {
    color: $heading_teal;
    position: relative;
    opacity: 0.1;
}

@mixin bgImage {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

@mixin actionBtn {
    background: $main_red;
    color: $body_white;
    width: 254px;
    height: 50px;
    font-size: 22px;
    font-family: $proxima, sans-serif;
}

@mixin boxLink {
    background: $body_white;
    color: $main_blue;
    width: 32%;
    height: 100px;
    border: 1px solid $main_blue;
    border-bottom: 4px solid $main_blue;
    margin-left: 1em;
    margin-left: 1em;
}

@mixin stripedBg {
        background: repeating-linear-gradient(
        300deg,
        $border_grey,
        $border_grey 1px,
        $body_white 1px,
        $body_white 5px
    );
}

@mixin sectHeading {
    text-transform: uppercase;
    color: $main_blue;
    font-size: $heading;
    font-weight: bold;
    letter-spacing: 2.2px;
    padding: 1em;
    width: 80%;
    margin: auto;
}