@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../../fonts/Proxima\ Nova\ Bold.otf') format('opentype');
}

@mixin actionBtn {
    background: $main_red;
    color: $body_white;
    width: 254px;
    height: 50px;
    font-size: 22px;
    font-family: $proxima, sans-serif;
}

@mixin boxLink {
    background: $body_white;
    color: $main_blue;
    width: 32%;
    height: 100px;
    border: 1px solid $main_blue;
    border-bottom: 4px solid $main_blue;
    margin-left: 1em;
    margin-left: 1em;
}

@mixin stripedBg {
        background: repeating-linear-gradient(
        300deg,
        $border_grey,
        $border_grey 1px,
        $body_white 1px,
        $body_white 5px
    );
}