#case-study {
    padding: 4em 0 3em 0;
    .feature-case-study {
        .flex-container {
            display: flex;
            div {
                padding: 1em;
            }
        }
        img{
            width: 40%;
        }
    }    
    .secondary-case-study {
        display: flex;
        .case {
            width: 25%;
        }
    }
    button {
        @include actionBtn;
        // float: right;
    } 
} 


