#case-study {
    padding: 0 0 3em 0;
    @include stripedBg;
    .feature-case-study, .secondary-case-study {
        background: $body_white;
        box-shadow: $box-shadow;
        color: $main_blue;
        line-height: 24px;
        margin: auto;
        width: 65vw;
    }
    button {
        @include actionBtn;
    } 
    .feature-case-study {   
        .flex-container {
            display: flex;
            padding: 2.5em 1.5em 1.5em 1.5em;
            div {
                padding: 0 2em 2em 2em;
            }
            .case-main-img{
                width: 40%;
                height:40%;
            }
            p {
                margin-bottom: 1.5em;
            }
            .blockquote {
                text-align: center;
            }
            .quote-row {
                width: 100%;
                display: flex;
                img {
                    height: 35px;
                }
                .quotetext {
                    @include boldFont;
                    width: 90%;
                    margin-bottom: 0;
                }
            }    
        }

    }
    .secondary-case-study {
        margin-top: 2em;
    }  
    .case-row {
        display: flex;
        width: 65vw;
        .case {
            @include boldFont;
            width: 25%;
            padding: 1em 1em 1em 1em;
            background: white;
            img {
                margin-bottom: 1em;
            }
        }
    }
    .bg-text {
        font-size: 170px;
        width: 50%;
        top: 60px;
        left: 20%;
    }
} 


