#case-study {
    padding: 4em 0 3em 0;
    .feature-case-study, .secondary-case-study {
        box-shadow: $box-shadow;
        button {
            @include actionBtn;
        } 
    }
    .feature-case-study {
        .flex-container {
            display: flex;
            padding: 2.5em 1.5em 1.5em 1.5em;
            div {
                padding: 1em;
            }
        }
        img{
            width: 40%;
        }
    }    
    .secondary-case-study {
        display: flex;
        .case {
            width: 25%;
            padding: 1em 1.5em 1em 1.5em;
            font-weight: 700;
            img {
                margin-bottom: 1em;
            }
        }
    }

} 


