#featured {
    height: 1031px;
    position: relative;
    width: 100vw;
    @include stripedBg;
    .info-container, img {
        position: absolute;
    }
    img {
        top: 200px;
        left: 856px;
        width: 680px;
        height: 650px;
    }
    .info-container {
        width: 538px;
        top: 266px;
        left: 414px;
        z-index: 23;
        background: $body_white;
        box-shadow: $box-shadow;
        line-height: 24px;
        color: $main_blue;
    }
    .bg-text {
        width:50%;
        left:40%;
        top:7%;
    }
}