#find {
    display: block;
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(../../src/images/dominik-resek-oH8G8cn52o8-unsplash.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    button {
        @include actionBtn;
    } 
    .find-box{
        position: relative;
        width: 55%;
        left: 50%;
        top: 93%;
        box-shadow: $box-shadow;
        z-index: 76;
        transform: translate(-50%, -50%);
        min-width: 960px;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.4em;
            font-size: 18px;
            background: $body_white;
        }
        i {
            padding: 0 15px 0 5px;
        }
    }    
}

@media (max-width: 1060px){
    #find {
        .find-box{
            transform: none;
            // position: static;
            left: auto;
            top: 30%;
            position: relative;
            min-width: 90vw;
            margin: auto;
        }
    }
}

@media (max-width: 820px){
    #find {
        .find-box{
            div {
                flex-direction: column;
            }
            .selector {
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid $main_blue;
            }
        }
    }
}