footer {
    height: 478px;
    width: 100%;
    background: $main-blue;
    color: $body-white;
    ul {
        display: flex;
        flex-direction: column;
        margin: 1em;
        li {
            padding-bottom: 0.5em;
        }
    }
    .link-container{
        display: flex;
        justify-content: flex-start;
    }
}
