footer {
    width: 100%;
    background: $main-blue;
    color: $body-white;
    .link-container {
        display: flex;
        justify-content: flex-start;
        padding: 2.5em 0 2.5em 0;
        width: 85%;
        margin:auto;
        ul {
            display: flex;
            flex-direction: column;
            margin: 1em 5em 1em 1em;
            li {
                padding-bottom: 0.8em;
            }
        }
    }
    .end-sect {
        display: flex;
        .copyright {
            width: 50%;
            display: flex;
            span{
                padding: 1em;
            }
        }
        .social-container {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            i {
                padding: 1em;
            }
        }
    }
}

// Mobile styles 

footer {
    @media (max-width: 820px){
        ul { margin: 1em 2em 1em 1em; }
        .link-container { flex-direction: column; }
    }
}