.info {
    padding-top: 3em;
    padding-bottom: 3em;
    .info-row {
        display: flex;
    }
}

.info-text {
    padding: 1.4em;
    p {
        margin-bottom: 1.5em;
    }
}

.info-btn {
    @include boxLink;
    @include boldFont;
    p {
        position: relative;
        top: 45%;
        padding: 0 5% 0 5%;
        display: flex;
        justify-content: space-between;
    }
}


#what-we-do {
    // margin: 0 10% 0 10%;
    background: $body_white;
    border: 1px solid $border_grey; 
}

#related-sites {
    @include stripedBg;
    margin: auto;
    width: 100%;
    .info-row {
        flex-wrap: wrap;
        margin: auto;
    }
    button {
        @include actionBtn;
        float: right;
    }
}