.info-row {
    display: flex;
    // justify-content: center;
}

.info-btn {
    @include boxLink;
}

#what-we-do {
    // margin: 0 10% 0 10%;
    background: $body_white;
    border: 1px solid $border_grey; 
}

#related-sites {
    margin: auto;
    width: 100%;
    .info-row {
        width: 90%;
        flex-wrap: wrap;
        margin: auto;
    }
    button {
        @include actionBtn;
    }
}