#news-events {
    display: block;

    .feature-row {
        display: flex;
        width: 85vw;
        margin: auto;
        .info-text p:first-child {
            @include boldFont;
        }
    }

    .feature-news, .feature-event {
        width: 50%;
        margin: 0 0.5em 0 0.5em;
    }

    .feature-news {
        .div2, .div3, .div4 {
            .image-container {
                @include bgImage;
            }
        }
        .div2 .image-container {
            background-image: url(../../src/images/derek-thomson-cVI7rv4MPpc-unsplash.png);
        }
        .div3 .image-container {
            background-image: url(../../src/images/abbie-bernet-asD2bt0YLS0-unsplash.png);
        }
        .div4 .image-container {
            background-image: url(../../src/images/annie-spratt-8wUjniBSnpw-unsplash.png);
        }
        .news-big-image {
            @include bgImage;
            background-image: url(../../src/images/liam-macleod-uFKEwCQnXq4-unsplash.png);
        }
    }

    .feature-event {
        .div2, .div3, .div4 {
            .image-container {
                @include bgImage;
                position: relative;
            }
        }
        .div2 .image-container {
            background-image: url(../../src/images/ernest-porzi-Tp2J80pYh-8-unsplash.png);
        }
        .div3 .image-container {
            background-image: url(../../src/images/jesse-vermeulen-Mxvew_CaxJI-unsplash.png);
        }
        .div4 .image-container {
            background-image: url(../../src/images/terrah-holly-pmhdkgRCbtE-unsplash.png);
        }
        .news-big-image {
            @include bgImage;
            position: relative;
            background-image: url(../../src/images/campaign-creators-qCi_MzVODoU-1);
        }
    }

    .parent {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        // grid-column-gap: 0.5em;
        grid-row-gap: 1em;
        .div1 { 
            grid-area: 1 / 1 / 2 / 4; 
            display: flex;
            box-shadow: $box-shadow;
            .news-big-image, .info-container {
                width: 50%;
                height: 100%;
            }
        }
        .div2 { 
            grid-area: 2 / 1 / 3 / 2;
        }
        .div3 { grid-area: 2 / 2 / 3 / 3; }
        .div4 { grid-area: 2 / 3 / 3 / 4; }
        .div2, .div3, .div4 {
            display: flex;
            flex-direction: column;
            box-shadow: $box-shadow;
            margin: 0 0.3em 0 0.3em;
            .image-container, .info-container {
                width: 100%;
                height: 50%;
            }
        }
        p {
            line-height: 24px;
            color: $main_blue;
        }
    }

    .date-block {
        @include boldFont;
        width: 87px;
        height: 80px;
        background: $main_blue;
        text-transform: uppercase;
        position: absolute;
        right: 0px;
        p {
            color: $body_white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}





