#subscribe {
    margin: 1em 25% 1em 25%;
    padding: 3em 0 3em 0;
    .sect-heading {
        margin-left: 0;
    }
    .email-subscribe {
        @include boldFont;
        box-shadow: $box-shadow;
        margin: 0 auto;
        clear: both;
        padding: 2em 1.5em 2em 1.5em;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                color: $main_blue;
            }
        }
        button {
            @include actionBtn;
            display: inline-block;
        }
    }
}

// Mobile styles
@media (max-width:820px) {
    #subscribe {
        margin: 1em 10% 1em 10%;
        padding: 1em 0 3em 0;
        .email-subscribe div {
            flex-direction: column;
            text-align: center;
            span {
                margin-bottom: 1em;
            }
        }
    }
}
