#subscribe {
    margin: 0 25% 0 25%;
    padding: 3em 0 3em 0;
}

.email-subscribe {
    box-shadow: $box-shadow;
    margin: 0 auto;
    clear: both;
    padding: 1em;
    font-size: 18px;
    font-weight:700;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        @include actionBtn;
        display: inline-block;
    }
}

