/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../../fonts/Proxima Nova Bold.otf") format("opentype");
}
/* line 1, ../sass/elements/_base.scss */
body {
  font-family: "proxima-nova", sans-serif;
}

/* line 5, ../sass/elements/_base.scss */
p {
  font-size: 16px;
}

/* line 9, ../sass/elements/_base.scss */
.sect-heading {
  text-transform: uppercase;
  color: #003A60;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2.2px;
  padding: 1em;
  width: 80%;
  margin: auto;
}

/* line 13, ../sass/elements/_base.scss */
.bg-text {
  font-family: "proxima-nova";
  font-size: 18px;
  font-weight: 700;
  color: #4E778C;
  position: relative;
  opacity: 0.1;
}

/* line 18, ../sass/elements/_base.scss */
.selected, .info-header {
  background: #003A60 !important;
  color: #FFFFFF !important;
}

/* line 23, ../sass/elements/_base.scss */
.info-header {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.8px;
  padding: 1em;
}

/* line 30, ../sass/elements/_base.scss */
.info-btn {
  background: #FFFFFF;
  color: #003A60;
  width: 32%;
  height: 100px;
  border: 1px solid #003A60;
  border-bottom: 4px solid #003A60;
  margin-left: 1em;
  margin-left: 1em;
}
/* line 32, ../sass/elements/_base.scss */
.info-btn p {
  position: relative;
  top: 45%;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
}

/* line 41, ../sass/elements/_base.scss */
.category-text {
  color: #C3002F !important;
  text-transform: uppercase;
}

/* line 46, ../sass/elements/_base.scss */
.btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 2.5em 2em 0;
}

/* line 1, ../sass/elements/_case-study.scss */
#case-study {
  padding: 0 0 3em 0;
  background: repeating-linear-gradient(300deg, #D6D6D6, #D6D6D6 1px, #FFFFFF 1px, #FFFFFF 5px);
}
/* line 4, ../sass/elements/_case-study.scss */
#case-study .bg-text {
  font-size: 170px;
  width: 50%;
  top: 60px;
  left: 20%;
}
/* line 10, ../sass/elements/_case-study.scss */
#case-study .feature-case-study, #case-study .secondary-case-study {
  background: #FFFFFF;
  box-shadow: 0px 3px 10px #D6D6D6;
  color: #003A60;
  line-height: 24px;
  margin: auto;
  width: 70vw;
}
/* line 17, ../sass/elements/_case-study.scss */
#case-study .feature-case-study button, #case-study .secondary-case-study button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
  font-size: 22px;
  font-family: "proxima-nova", sans-serif;
}
/* line 23, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container {
  display: flex;
  padding: 2.5em 1.5em 1.5em 1.5em;
}
/* line 26, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container div {
  padding: 0 2em 2em 2em;
}
/* line 29, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container .case-main-img {
  width: 40%;
  height: 40%;
}
/* line 33, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container p {
  margin-bottom: 1.5em;
}
/* line 36, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container .blockquote {
  text-align: center;
}
/* line 39, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container .quote-row {
  width: 100%;
  display: flex;
}
/* line 42, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container .quote-row img {
  height: 35px;
}
/* line 45, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container .quote-row .quotetext {
  font-family: "proxima-nova";
  font-size: 18px;
  font-weight: 700;
  width: 90%;
  margin-bottom: 0;
}
/* line 53, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study {
  margin-top: 2em;
}
/* line 55, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0px;
}
/* line 61, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .grid-section .grid-item-1 {
  grid-area: 1 / 1 / 2 / 2;
}
/* line 62, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .grid-section .grid-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}
/* line 63, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .grid-section .grid-item-3 {
  grid-area: 1 / 3 / 2 / 4;
}
/* line 64, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .grid-section .grid-item-4 {
  grid-area: 1 / 4 / 2 / 5;
}
/* line 65, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .grid-section .case {
  padding: 1em;
}

@media (max-width: 1584px) {
  /* line 77, ../sass/elements/_case-study.scss */
  #case-study .secondary-case-study .grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  /* line 83, ../sass/elements/_case-study.scss */
  #case-study .secondary-case-study .grid-section .grid-item-1, #case-study .secondary-case-study .grid-section .grid-item-2, #case-study .secondary-case-study .grid-section .grid-item-3, #case-study .secondary-case-study .grid-section .grid-item-4 {
    grid-area: auto / auto / auto / auto;
    text-align: center;
  }
}
@media (max-width: 820px) {
  /* line 94, ../sass/elements/_case-study.scss */
  #case-study .bg-text {
    font-size: 110px;
    top: 30px;
  }
  /* line 98, ../sass/elements/_case-study.scss */
  #case-study .feature-case-study {
    width: 90vw;
  }
  /* line 100, ../sass/elements/_case-study.scss */
  #case-study .feature-case-study .flex-container {
    padding: 2.5em 0 0 0;
    flex-direction: column;
  }
  /* line 103, ../sass/elements/_case-study.scss */
  #case-study .feature-case-study .flex-container .case-main-img {
    width: 90%;
    height: 90%;
    margin: auto;
  }
  /* line 108, ../sass/elements/_case-study.scss */
  #case-study .feature-case-study .flex-container .quote-row {
    padding: 1.5em 0 1.5em 0;
  }
  /* line 113, ../sass/elements/_case-study.scss */
  #case-study .secondary-case-study {
    width: 90vw;
  }
  /* line 115, ../sass/elements/_case-study.scss */
  #case-study .secondary-case-study .grid-section {
    display: flex;
    flex-direction: column;
  }
}
/* line 1, ../sass/elements/_feature.scss */
#featured {
  height: 1031px;
  position: relative;
  width: 100vw;
  background: repeating-linear-gradient(300deg, #D6D6D6, #D6D6D6 1px, #FFFFFF 1px, #FFFFFF 5px);
}
/* line 6, ../sass/elements/_feature.scss */
#featured .bg-text {
  font-size: 200px;
  width: 50%;
  left: 40vw;
  top: 7%;
}
/* line 12, ../sass/elements/_feature.scss */
#featured .info-container, #featured img {
  position: absolute;
}
/* line 15, ../sass/elements/_feature.scss */
#featured .info-container {
  width: 538px;
  top: 266px;
  left: 20vw;
  z-index: 23;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px #D6D6D6;
  line-height: 24px;
  color: #003A60;
}
/* line 25, ../sass/elements/_feature.scss */
#featured img {
  top: 200px;
  left: 40vw;
  width: 680px;
  height: 650px;
}

@media (max-width: 1300px) {
  /* line 37, ../sass/elements/_feature.scss */
  #featured .info-container {
    left: 10vw;
  }
  /* line 38, ../sass/elements/_feature.scss */
  #featured img {
    left: 30vw;
  }
  /* line 39, ../sass/elements/_feature.scss */
  #featured .bg-text {
    left: 30vw;
  }
}
@media (max-width: 1060px) {
  /* line 45, ../sass/elements/_feature.scss */
  #featured .bg-text {
    left: 10vw;
    top: 2%;
    font-size: 100px;
  }
  /* line 50, ../sass/elements/_feature.scss */
  #featured .info-group {
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: center;
  }
  /* line 56, ../sass/elements/_feature.scss */
  #featured .info-container, #featured img {
    position: initial;
    width: 50%;
  }
}
@media (max-width: 820px) {
  /* line 64, ../sass/elements/_feature.scss */
  #featured {
    height: auto;
    position: static;
  }
  /* line 67, ../sass/elements/_feature.scss */
  #featured .bg-text {
    display: none;
  }
  /* line 68, ../sass/elements/_feature.scss */
  #featured .info-group {
    flex-direction: column-reverse;
    padding: 2em 0 2em 0;
  }
  /* line 71, ../sass/elements/_feature.scss */
  #featured .info-group .info-container, #featured .info-group img {
    position: static;
    width: 90%;
    height: auto;
    z-index: 0;
  }
  /* line 77, ../sass/elements/_feature.scss */
  #featured .info-group .info-container {
    margin-top: 1em;
  }
}
/* line 1, ../sass/elements/_find.scss */
#find {
  display: block;
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url(../../src/images/dominik-resek-oH8G8cn52o8-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 10, ../sass/elements/_find.scss */
#find .find-box {
  position: relative;
  width: 65vw;
  left: 50%;
  top: 93%;
  box-shadow: 0px 3px 10px #D6D6D6;
  z-index: 76;
  transform: translate(-50%, -50%);
  min-width: 960px;
}
/* line 19, ../sass/elements/_find.scss */
#find .find-box .find-info {
  color: #003A60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4em;
  font-size: 18px;
  background: #FFFFFF;
}
/* line 27, ../sass/elements/_find.scss */
#find .find-box .find-info span {
  display: inline-block;
}
/* line 30, ../sass/elements/_find.scss */
#find .find-box .find-info .flex-section {
  display: flex;
  justify-content: space-between;
  width: 33%;
  padding: 0.5em;
}
/* line 35, ../sass/elements/_find.scss */
#find .find-box .find-info .flex-section .text {
  width: 30%;
}
/* line 38, ../sass/elements/_find.scss */
#find .find-box .find-info .flex-section .line {
  width: 65%;
  border-bottom: 1px solid #003A60;
}
/* line 42, ../sass/elements/_find.scss */
#find .find-box .find-info .flex-section .icon {
  width: 5%;
}
/* line 46, ../sass/elements/_find.scss */
#find .find-box .find-info button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
  font-size: 22px;
  font-family: "proxima-nova", sans-serif;
}
/* line 50, ../sass/elements/_find.scss */
#find .find-box i {
  padding: 0 15px 0 5px;
}

@media (max-width: 1060px) {
  /* line 60, ../sass/elements/_find.scss */
  #find .find-box {
    transform: none;
    left: auto;
    top: 30%;
    position: relative;
    min-width: 90vw;
    margin: auto;
  }
}
@media (max-width: 820px) {
  /* line 74, ../sass/elements/_find.scss */
  #find .find-box .find-info {
    flex-direction: column;
  }
  /* line 77, ../sass/elements/_find.scss */
  #find .find-box .flex-section {
    width: 70% !important;
  }
  /* line 79, ../sass/elements/_find.scss */
  #find .find-box .flex-section button {
    margin: auto;
  }
}
/* line 1, ../sass/elements/_footer.scss */
footer {
  width: 100%;
  background: #003A60;
  color: #FFFFFF;
}
/* line 5, ../sass/elements/_footer.scss */
footer .link-container {
  display: flex;
  justify-content: flex-start;
  padding: 2.5em 0 2.5em 0;
  width: 85%;
  margin: auto;
}
/* line 11, ../sass/elements/_footer.scss */
footer .link-container ul {
  display: flex;
  flex-direction: column;
  margin: 1em 5em 1em 1em;
}
/* line 15, ../sass/elements/_footer.scss */
footer .link-container ul li {
  padding-bottom: 0.8em;
}
/* line 20, ../sass/elements/_footer.scss */
footer .end-sect {
  display: flex;
}
/* line 22, ../sass/elements/_footer.scss */
footer .end-sect .copyright {
  width: 50%;
  display: flex;
}
/* line 25, ../sass/elements/_footer.scss */
footer .end-sect .copyright span {
  padding: 1em;
}
/* line 29, ../sass/elements/_footer.scss */
footer .end-sect .social-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
/* line 33, ../sass/elements/_footer.scss */
footer .end-sect .social-container i {
  padding: 1em;
}

@media (max-width: 820px) {
  /* line 44, ../sass/elements/_footer.scss */
  footer ul {
    margin: 1em 2em 1em 1em;
  }
  /* line 45, ../sass/elements/_footer.scss */
  footer .link-container {
    flex-direction: column;
  }
}

/* line 1, ../sass/elements/_header.scss */
header {
  z-index: 19999;
  position: relative;
  background: #FFFFFF;
}
/* line 5, ../sass/elements/_header.scss */
header .logo {
  width: 100%;
  text-align: right;
  padding: 3em 0 1em 0;
}
/* line 9, ../sass/elements/_header.scss */
header .logo #logo-1, header .logo #logo-2 {
  font-size: 42px;
}
/* line 12, ../sass/elements/_header.scss */
header .logo #logo-1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #003A62;
}
/* line 17, ../sass/elements/_header.scss */
header .logo #logo-2 {
  font-family: "Consolas", sans-serif;
  color: #E21A23;
  padding-right: 1em;
}
/* line 24, ../sass/elements/_header.scss */
header nav i {
  display: none !important;
}
/* line 27, ../sass/elements/_header.scss */
header nav ul {
  color: #003A60;
  display: flex;
  flex-direction: row;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  background: #FFFFFF;
  justify-content: space-between;
  padding: 1em 15% 1em 15%;
  border-top: 2px solid #003A60;
  border-bottom: 2px solid #003A60;
}
/* line 38, ../sass/elements/_header.scss */
header nav ul .search-text {
  color: #C3002F;
}
/* line 40, ../sass/elements/_header.scss */
header nav ul .search-text i {
  padding-left: 0.8em;
}

@media (max-width: 820px) {
  /* line 51, ../sass/elements/_header.scss */
  .logo {
    text-align: center !important;
  }
  /* line 53, ../sass/elements/_header.scss */
  .logo #logo-2 {
    padding-right: 0;
  }

  /* line 58, ../sass/elements/_header.scss */
  header nav {
    padding: 1em 0 0 0;
  }
  /* line 60, ../sass/elements/_header.scss */
  header nav ul {
    display: none;
    text-align: center;
  }
  /* line 63, ../sass/elements/_header.scss */
  header nav ul li {
    padding: 0.5em;
  }
  /* line 67, ../sass/elements/_header.scss */
  header nav i {
    display: block !important;
    text-align: center;
    font-size: 24px;
  }
  /* line 72, ../sass/elements/_header.scss */
  header nav .fa-bars {
    margin-bottom: 1em;
  }
  /* line 75, ../sass/elements/_header.scss */
  header nav .fa-search {
    padding: 0.5em 0 0 0;
  }
}
/* line 3, ../sass/elements/_info.scss */
.info {
  padding: 3em 0 3em 0;
}
/* line 5, ../sass/elements/_info.scss */
.info .info-row {
  display: flex;
  width: 80%;
  margin: auto;
}

/* line 12, ../sass/elements/_info.scss */
.info-text {
  padding: 1.4em;
}
/* line 14, ../sass/elements/_info.scss */
.info-text p {
  margin-bottom: 1.5em;
}

/* line 19, ../sass/elements/_info.scss */
.info-btn {
  background: #FFFFFF;
  color: #003A60;
  width: 32%;
  height: 100px;
  border: 1px solid #003A60;
  border-bottom: 4px solid #003A60;
  margin-left: 1em;
  margin-left: 1em;
  font-family: "proxima-nova";
  font-size: 18px;
  font-weight: 700;
}
/* line 22, ../sass/elements/_info.scss */
.info-btn p {
  position: relative;
  top: 45%;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
}

/* line 33, ../sass/elements/_info.scss */
#what-we-do {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
}
/* line 36, ../sass/elements/_info.scss */
#what-we-do .grid-section {
  width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
/* line 44, ../sass/elements/_info.scss */
#what-we-do .grid-section .grid-item-1, #what-we-do .grid-section .grid-item-2, #what-we-do .grid-section .grid-item-3 {
  width: 100%;
}
/* line 47, ../sass/elements/_info.scss */
#what-we-do .grid-section .grid-item-1 {
  grid-area: 1 / 1 / 2 / 2;
}
/* line 48, ../sass/elements/_info.scss */
#what-we-do .grid-section .grid-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}
/* line 49, ../sass/elements/_info.scss */
#what-we-do .grid-section .grid-item-3 {
  grid-area: 1 / 3 / 2 / 4;
}
@media (max-width: 820px) {
  /* line 52, ../sass/elements/_info.scss */
  #what-we-do .grid-section {
    display: flex;
    flex-direction: column;
  }
  /* line 55, ../sass/elements/_info.scss */
  #what-we-do .grid-section .info-btn {
    margin-left: 0;
  }
  /* line 58, ../sass/elements/_info.scss */
  #what-we-do .grid-section div {
    margin-bottom: 1em;
  }
}

/* line 67, ../sass/elements/_info.scss */
#related-sites {
  background: repeating-linear-gradient(300deg, #D6D6D6, #D6D6D6 1px, #FFFFFF 1px, #FFFFFF 5px);
  margin: auto;
  width: 100%;
}
/* line 71, ../sass/elements/_info.scss */
#related-sites .info-row {
  flex-wrap: wrap;
  margin: auto;
}
/* line 75, ../sass/elements/_info.scss */
#related-sites .btn-container {
  width: 89vw;
  margin: auto;
}
/* line 79, ../sass/elements/_info.scss */
#related-sites button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
  font-size: 22px;
  font-family: "proxima-nova", sans-serif;
}
/* line 82, ../sass/elements/_info.scss */
#related-sites .grid-section {
  width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
/* line 90, ../sass/elements/_info.scss */
#related-sites .grid-section .grid-item-1, #related-sites .grid-section .grid-item-2, #related-sites .grid-section .grid-item-3, #related-sites .grid-section .grid-item-4, #related-sites .grid-section .grid-item-5 {
  width: 100%;
}
/* line 93, ../sass/elements/_info.scss */
#related-sites .grid-section .grid-item-1 {
  grid-area: 1 / 1 / 2 / 2;
}
/* line 94, ../sass/elements/_info.scss */
#related-sites .grid-section .grid-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}
/* line 95, ../sass/elements/_info.scss */
#related-sites .grid-section .grid-item-3 {
  grid-area: 1 / 3 / 2 / 4;
}
/* line 96, ../sass/elements/_info.scss */
#related-sites .grid-section .grid-item-4 {
  grid-area: 2 / 1 / 3 / 2;
}
/* line 97, ../sass/elements/_info.scss */
#related-sites .grid-section .grid-item-5 {
  grid-area: 2 / 2 / 3 / 3;
}
@media (max-width: 820px) {
  /* line 100, ../sass/elements/_info.scss */
  #related-sites .grid-section {
    display: flex;
    flex-direction: column;
  }
  /* line 103, ../sass/elements/_info.scss */
  #related-sites .grid-section div {
    margin-bottom: 1em;
  }
  /* line 106, ../sass/elements/_info.scss */
  #related-sites .grid-section .info-btn {
    margin-left: 0;
  }
  /* line 110, ../sass/elements/_info.scss */
  #related-sites .btn-container {
    padding: 2em 1em 0 0;
  }
}

/* line 1, ../sass/elements/_news.scss */
#news-events {
  display: block;
  padding-bottom: 2em;
}
/* line 4, ../sass/elements/_news.scss */
#news-events .bg-text {
  font-size: 130px;
  left: 7%;
  top: 40px;
  width: 50%;
}
/* line 10, ../sass/elements/_news.scss */
#news-events .feature-row {
  display: flex;
  width: 85vw;
  margin: auto;
}
/* line 14, ../sass/elements/_news.scss */
#news-events .feature-row .info-text p:first-child {
  font-family: "proxima-nova";
  font-size: 18px;
  font-weight: 700;
  min-height: 71.5px;
}
/* line 19, ../sass/elements/_news.scss */
#news-events .feature-news, #news-events .feature-event {
  width: 50%;
  margin: 0 1em 0 0;
}
/* line 22, ../sass/elements/_news.scss */
#news-events .feature-news .grid-item-2, #news-events .feature-news .grid-item-3, #news-events .feature-news .grid-item-4, #news-events .feature-event .grid-item-2, #news-events .feature-event .grid-item-3, #news-events .feature-event .grid-item-4 {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px #D6D6D6;
  margin: 0 0.3em 0 0.3em;
}
/* line 27, ../sass/elements/_news.scss */
#news-events .feature-news .grid-item-2 .image-container, #news-events .feature-news .grid-item-2 .info-container, #news-events .feature-news .grid-item-3 .image-container, #news-events .feature-news .grid-item-3 .info-container, #news-events .feature-news .grid-item-4 .image-container, #news-events .feature-news .grid-item-4 .info-container, #news-events .feature-event .grid-item-2 .image-container, #news-events .feature-event .grid-item-2 .info-container, #news-events .feature-event .grid-item-3 .image-container, #news-events .feature-event .grid-item-3 .info-container, #news-events .feature-event .grid-item-4 .image-container, #news-events .feature-event .grid-item-4 .info-container {
  width: 100%;
  height: 50%;
}
/* line 31, ../sass/elements/_news.scss */
#news-events .feature-news .grid-item-2 .image-container, #news-events .feature-news .grid-item-3 .image-container, #news-events .feature-news .grid-item-4 .image-container, #news-events .feature-event .grid-item-2 .image-container, #news-events .feature-event .grid-item-3 .image-container, #news-events .feature-event .grid-item-4 .image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 35, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section, #news-events .feature-event .grid-section {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
/* line 42, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section .grid-item-1, #news-events .feature-event .grid-section .grid-item-1 {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  box-shadow: 0px 3px 10px #D6D6D6;
  margin-bottom: 1.5em;
}
/* line 47, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section .grid-item-1 .news-big-image, #news-events .feature-news .grid-section .grid-item-1 .info-container, #news-events .feature-event .grid-section .grid-item-1 .news-big-image, #news-events .feature-event .grid-section .grid-item-1 .info-container {
  width: 50%;
  height: 100%;
}
/* line 52, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section .grid-item-2, #news-events .feature-event .grid-section .grid-item-2 {
  grid-area: 2 / 1 / 3 / 2;
}
/* line 53, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section .grid-item-3, #news-events .feature-event .grid-section .grid-item-3 {
  grid-area: 2 / 2 / 3 / 3;
}
/* line 54, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section .grid-item-4, #news-events .feature-event .grid-section .grid-item-4 {
  grid-area: 2 / 3 / 3 / 4;
}
/* line 55, ../sass/elements/_news.scss */
#news-events .feature-news .grid-section p, #news-events .feature-event .grid-section p {
  line-height: 24px;
  color: #003A60;
}
/* line 65, ../sass/elements/_news.scss */
#news-events .feature-news .grid-item-2 .image-container {
  background-image: url(../../src/images/derek-thomson-cVI7rv4MPpc-unsplash@2x.png);
}
/* line 68, ../sass/elements/_news.scss */
#news-events .feature-news .grid-item-3 .image-container {
  background-image: url(../../src/images/abbie-bernet-asD2bt0YLS0-unsplash@2x.png);
}
/* line 71, ../sass/elements/_news.scss */
#news-events .feature-news .grid-item-4 .image-container {
  background-image: url(../../src/images/annie-spratt-8wUjniBSnpw-unsplash@2x.png);
}
/* line 74, ../sass/elements/_news.scss */
#news-events .feature-news .news-big-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../src/images/liam-macleod-uFKEwCQnXq4-unsplash@2x.png);
}
/* line 84, ../sass/elements/_news.scss */
#news-events .feature-event .grid-item-2 .image-container, #news-events .feature-event .grid-item-3 .image-container, #news-events .feature-event .grid-item-4 .image-container {
  position: relative;
}
/* line 88, ../sass/elements/_news.scss */
#news-events .feature-event .grid-item-2 .image-container {
  background-image: url(../../src/images/ernest-porzi-Tp2J80pYh-8-unsplash@2x.png);
}
/* line 91, ../sass/elements/_news.scss */
#news-events .feature-event .grid-item-3 .image-container {
  background-image: url(../../src/images/jesse-vermeulen-Mxvew_CaxJI-unsplash@2x.png);
}
/* line 94, ../sass/elements/_news.scss */
#news-events .feature-event .grid-item-4 .image-container {
  background-image: url(../../src/images/terrah-holly-pmhdkgRCbtE-unsplash@2x.png);
}
/* line 97, ../sass/elements/_news.scss */
#news-events .feature-event .news-big-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(../../src/images/campaign-creators-qCi_MzVODoU-2.png);
}
/* line 102, ../sass/elements/_news.scss */
#news-events .feature-event .date-block {
  font-family: "proxima-nova";
  font-size: 18px;
  font-weight: 700;
  width: 87px;
  height: 80px;
  background: #003A60;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
}
/* line 110, ../sass/elements/_news.scss */
#news-events .feature-event .date-block p {
  color: #FFFFFF;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1042px) {
  /* line 126, ../sass/elements/_news.scss */
  #news-events .bg-text {
    width: 70%;
    font-size: 100px;
  }
  /* line 130, ../sass/elements/_news.scss */
  #news-events .feature-row {
    display: block;
  }
  /* line 132, ../sass/elements/_news.scss */
  #news-events .feature-row .feature-news, #news-events .feature-row .feature-event {
    width: 100%;
  }
  /* line 135, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /* line 139, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section div {
    width: 85vw;
  }
  /* line 142, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section .info-text {
    min-height: 200px;
    padding: 0.5em;
  }
  /* line 145, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section .info-text p {
    margin-bottom: 10px;
    min-height: 20px;
  }
  /* line 150, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section .grid-item-1 {
    display: flex;
    flex-direction: column;
  }
  /* line 153, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section .grid-item-1 .news-big-image, #news-events .feature-row .grid-section .grid-item-1 .info-container {
    width: 100%;
  }
  /* line 155, ../sass/elements/_news.scss */
  #news-events .feature-row .grid-section .grid-item-1 .news-big-image .info-text, #news-events .feature-row .grid-section .grid-item-1 .info-container .info-text {
    width: auto;
  }
  /* line 161, ../sass/elements/_news.scss */
  #news-events .feature-row .feature-event {
    margin: 1em 0 2em 0;
  }
  /* line 163, ../sass/elements/_news.scss */
  #news-events .feature-row .feature-event .date-block {
    width: 87px;
  }
  /* line 167, ../sass/elements/_news.scss */
  #news-events .feature-row .feature-event .news-big-image .date-block {
    bottom: 0px;
  }
}

/* line 1, ../sass/elements/_subscribe.scss */
#subscribe {
  margin: 1em 25% 1em 25%;
  padding: 3em 0 3em 0;
}
/* line 4, ../sass/elements/_subscribe.scss */
#subscribe .sect-heading {
  margin-left: 0;
}
/* line 7, ../sass/elements/_subscribe.scss */
#subscribe .email-subscribe {
  font-family: "proxima-nova";
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 3px 10px #D6D6D6;
  margin: 0 auto;
  clear: both;
  padding: 2em 1.5em 2em 1.5em;
}
/* line 13, ../sass/elements/_subscribe.scss */
#subscribe .email-subscribe div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 17, ../sass/elements/_subscribe.scss */
#subscribe .email-subscribe div span {
  color: #003A60;
}
/* line 21, ../sass/elements/_subscribe.scss */
#subscribe .email-subscribe button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
  font-size: 22px;
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
}

@media (max-width: 820px) {
  /* line 30, ../sass/elements/_subscribe.scss */
  #subscribe {
    margin: 1em 10% 1em 10%;
  }
  /* line 32, ../sass/elements/_subscribe.scss */
  #subscribe .email-subscribe div {
    flex-direction: column;
    text-align: center;
  }
  /* line 35, ../sass/elements/_subscribe.scss */
  #subscribe .email-subscribe div span {
    margin-bottom: 1em;
  }
}
