/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../../fonts/Proxima Nova Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../../fonts/Proxima Nova Bold.otf") format("opentype");
}
/* line 3, ../sass/elements/_case-study.scss */
#case-study .feature-case-study .flex-container {
  display: flex;
}
/* line 6, ../sass/elements/_case-study.scss */
#case-study .feature-case-study img {
  width: 40%;
}
/* line 10, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study {
  display: flex;
}
/* line 12, ../sass/elements/_case-study.scss */
#case-study .secondary-case-study .case {
  width: 25%;
}
/* line 16, ../sass/elements/_case-study.scss */
#case-study button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
}

/* line 1, ../sass/elements/_feature.scss */
#featured {
  height: 1031px;
  position: relative;
  width: 100vw;
}
/* line 5, ../sass/elements/_feature.scss */
#featured .info-container, #featured img {
  position: absolute;
}
/* line 8, ../sass/elements/_feature.scss */
#featured img {
  top: 200px;
  left: 633px;
  width: 680px;
  height: 650px;
}
/* line 14, ../sass/elements/_feature.scss */
#featured .info-container {
  width: 538px;
  top: 266px;
  left: 207px;
}

/* line 1, ../sass/elements/_find.scss */
#find {
  display: block;
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url(../../images/dominik-resek-oH8G8cn52o8-unsplash.png);
}
/* line 7, ../sass/elements/_find.scss */
#find button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
}
/* line 10, ../sass/elements/_find.scss */
#find .find-box {
  position: absolute;
  width: 50%;
  left: 30%;
  right: 50%;
  top: 465px;
  box-shadow: 0px 3px 10px #D6D6D6;
}

/* line 1, ../sass/elements/_header.scss */
header {
  z-index: 19999;
  position: relative;
  background: #FFFFFF;
}

/* line 7, ../sass/elements/_header.scss */
nav ul {
  display: flex;
  flex-direction: row;
  font-family: 'Proxima Nova Bold', sans-serif;
  background: #FFFFFF;
  justify-content: space-between;
  padding: 1em 15% 1em 15%;
  border-top: 2px solid #003A60;
  border-bottom: 2px solid #003A60;
}

/* line 18, ../sass/elements/_header.scss */
.logo {
  width: 100%;
  text-align: right;
  padding: 3em 0 1em 0;
}

/* line 24, ../sass/elements/_header.scss */
#logo-2 {
  padding-right: 1em;
}

/* line 1, ../sass/elements/_info.scss */
.info-row {
  display: flex;
}

/* line 6, ../sass/elements/_info.scss */
.info-btn {
  background: #FFFFFF;
  color: #003A60;
  width: 25%;
  height: 100px;
  border: 1px solid #003A60;
  border-bottom: 4px solid #003A60;
  margin-left: 1em;
  margin-left: 1em;
}

/* line 10, ../sass/elements/_info.scss */
#what-we-do {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
}

/* line 17, ../sass/elements/_info.scss */
#related-sites .info-row {
  flex-wrap: wrap;
}
/* line 20, ../sass/elements/_info.scss */
#related-sites button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
}

/* line 1, ../sass/elements/_news.scss */
#news-events {
  height: 850px;
}
/* line 4, ../sass/elements/_news.scss */
#news-events .feature-row {
  display: flex;
  width: 100%;
  height: 600px;
}
/* line 10, ../sass/elements/_news.scss */
#news-events .feature-news, #news-events .feature-event {
  width: 50%;
}
/* line 14, ../sass/elements/_news.scss */
#news-events .parent {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* line 21, ../sass/elements/_news.scss */
#news-events .parent .div1 {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  box-shadow: 0px 3px 10px #D6D6D6;
}
/* line 25, ../sass/elements/_news.scss */
#news-events .parent .div1 img, #news-events .parent .div1 .info-container {
  width: 50%;
  height: 100%;
}
/* line 30, ../sass/elements/_news.scss */
#news-events .parent .div2 {
  grid-area: 2 / 1 / 3 / 2;
}
/* line 31, ../sass/elements/_news.scss */
#news-events .parent .div3 {
  grid-area: 2 / 2 / 3 / 3;
}
/* line 32, ../sass/elements/_news.scss */
#news-events .parent .div4 {
  grid-area: 2 / 3 / 3 / 4;
}
/* line 33, ../sass/elements/_news.scss */
#news-events .parent .div2, #news-events .parent .div3, #news-events .parent .div4 {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px #D6D6D6;
}
/* line 37, ../sass/elements/_news.scss */
#news-events .parent .div2 img, #news-events .parent .div2 .info-container, #news-events .parent .div3 img, #news-events .parent .div3 .info-container, #news-events .parent .div4 img, #news-events .parent .div4 .info-container {
  width: 100%;
  height: 50%;
}

/* line 1, ../sass/elements/_subscribe.scss */
#subscribe {
  margin: 0 25% 0 25%;
}

/* line 5, ../sass/elements/_subscribe.scss */
.email-subscribe {
  box-shadow: 0px 3px 10px #D6D6D6;
  margin: 0 auto;
  clear: both;
}
/* line 9, ../sass/elements/_subscribe.scss */
.email-subscribe button {
  background: #C3002F;
  color: #FFFFFF;
  width: 254px;
  height: 50px;
  display: inline-block;
}

/* line 1, ../sass/elements/_text.scss */
body {
  font-family: "ProximaNova-Regular", sans-serif;
}

/* line 5, ../sass/elements/_text.scss */
#logo-1, #logo-2 {
  font-size: 42px;
}

/* line 9, ../sass/elements/_text.scss */
#logo-1 {
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #003A62;
}

/* line 15, ../sass/elements/_text.scss */
#logo-2 {
  font-family: "Consolas", sans-serif;
  color: #E21A23;
}

/* line 20, ../sass/elements/_text.scss */
.sect-heading {
  text-transform: uppercase;
  color: #003A60;
  font-size: 22px;
}
